*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Lobster Two', cursive;
}
body{
  background-color: rgb(153, 153, 173) !important;
}
header{
    background-color:rgb(41, 41, 73);
    box-shadow: 0px 0px 20px  black;
    margin-bottom: 50px;
    color: white;
}
.boxShadow{
  box-shadow: 1px 1px  5px 5px rgb(119, 119, 161) !important;
}
main{
    margin:0 auto;    
}
label{
    font-size:2rem;
}
.form-control-new:focus{
    outline:0 !important;
    box-shadow: none !important;
    border-color: rgb(97, 97, 156) !important;
  }
  ul li{
      font-size: 2.2rem;
      list-style-type:decimal-leading-zero;
      background-color:rgb(41, 41, 73);
      color:white;
      margin-bottom: 25px;
      padding:10px 10px 10px 30px;
      border-radius: 20px;
      border: 1px solid white;
  }
  /* animation */
  .headerAnimation{
    animation-name: moveHead;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

  }
  @keyframes moveHead{
    0% {
      margin-top: 160%;
      opacity: 0;
    }
    100% {
      margin-left: 0;
      opacity: 1;
    }
  }
  .text-right {
    animation-name: rr;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  @keyframes rr{
    0% {
      margin-left: 75%;
      opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
      margin-left: 0;
      opacity: 1;
    }
  }
  .text-left {
    animation-name: ll;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  @keyframes ll{
    0% {
      margin-left: -75%;
      opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
      margin-left: 0;
      opacity: 1;
    }
  }