* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #1e1f21;
}
.btn-todo {
    line-height: 40px;
    padding: 0px 20px 0px;
    font-size: 18px;
    border-radius: 4px;
    background-color: rgba(41,76,255,0.01);
    color: #ffffff;
    border: 2px solid transparent;
    border: 2px solid #878787;
    transition: 0.3s all ease-in-out;
}
.btn-todo:hover {
    background-color: rgba(41,76,255,0.01);
    border: 2px solid #ffffff;
}
.text {
    width: 285px;
}
.font-todo {
    font-size: 20px;
}