body {
    font-family: "UniQAIDAR_ZANA";
    overflow-x: hidden;
}

nav ul {
    list-style: none;
    position: absolute;
    top: 1rem;
    right: -1rem;
    left: inherit;
    width: 80px;
    text-align: left;

}

nav ul li:hover {

    margin-left: -50px;
}

.kurdish {
    background: rgba(255, 255, 255, 0.288);
}

.task-deadline::after {
    right: -50%;
    left: inherit;
}

/* media query */
@media screen and (max-width: 992px) {
    ul {
        width: 90%;
    }

    .input-container {
        order: 1;
    }

    .btns-container {
        order: 2;
    }
}

/* keyframes */
@keyframes nav-li-animate {
    from {
        transform: translateX(6rem);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes inputs-animate {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes submit-animate {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

.checkbox-container {
    margin-left: .5rem;
}