* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #D2D2D2; 
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

.main-section {
    width: 100vw;
    height: 100vh;
}

.today-date-wrapper {
    position: absolute;
    right: 2%;
    top: 2%;
}

.today-date {
    font-weight: normal !important;
}

.wrapper-main-all {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-3 {
    width: 255px;
    max-width: 255px;
    font-size: 3.2rem !important;
    margin: 0;
}

p {
    margin-bottom: 0 !important;
}

.todo-container,
.todo-form {
    width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group label {
    margin-right: 5%;
}

.add-and-cancel-btns {
    width: 100%;
    justify-content: space-between !important;
    margin-bottom: 0 !important;
}

.add-todo-btn {
    width: 70%;
}

.cancel-btn {
    width: 29%;
    background-color: #EBEBEB !important;
}

.cancel-btn:hover {
    background-color: #E3E4E6 !important;
}

.display-5 {
    font-size: 1.1rem !important;
    word-break: break-all;
    color: #000
}

.todo-container {
    align-items: center;
    height: 80vh;
    overflow-y: auto;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    max-height: 95%;
    width: 90%;
}

.todo-div {
    padding: 5%;
    margin: 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.todo-btns-div {
    align-self: center;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.trash-btn {
    width: 25px;
    height: 28px;
    background-color: white;
    border: none;
    outline: none !important;
    font-size: 1.1rem;
    color: #212529;
}

.completed-btn {
    width: 20px;
    height: 20px;
    background-color: white;
    border: solid 1.3px black;
    border-radius: 5px;
    outline: none !important;
    font-size: 0.82rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212529;
}

.edit-btn {
    background: none;
    border: none;
    font-size: 1.13rem;
    color: #212529;
}

.edit-btn:focus {
    outline: none !important;
}

.fill-out-field {
    border: solid 1.2px #FF3232 !important;
}

@media screen and (max-width: 1190px){

    .main-section {
        height: 100%;
    }
    .wrapper-main-all {
        flex-direction: column;
        height: auto;
    }
    .todo-container {
        height: auto;
    }
    .todo-list {
        max-height: auto;
    }
    .display-3,
    .todo-form {
        margin: 80px 0;
    }
    .todo-list {
        padding-bottom: 80px !important;
    }
}

@media screen and (max-width: 650px){ 

    .todo-container,
    .todo-form {
        width: 290px;
        max-width: 290px;
    }
    .todo-div {
        width: 100%;
    }
    .h5 {
        font-size: 1rem;
        margin-bottom: 0;
    }
}

