
.pointer{
    cursor: pointer !important;
    font-size: 1.2em;
}

h5{
    /* color: #baadd4; */
    /* color: #c3abe6; */
    /* color: #a647ad; */
    /* color: #c46fca; */
    /* color: #595eb7; */
    /* color: #7959b3; */
    /* color: #baadd4; */
    color: #9b79ce;
}

.done{
    opacity: .5;
}

.done p{
    text-decoration: line-through;
}



