*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
}
:root{

   --lavendar-gray: #9a9eab;
   --branch:#5d535e;
   --berry:#ec96a4;
   --yellow-feathers:#dfe166; 
}
.navbar{
    height: 20vh;
    

}