*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    
}
:root{

   --lavendar-gray: #9a9eab;
   --branch:#5d535e;
   --berry:#ec96a4;
   --yellow-feathers:#dfe166; 
}
body{

    background-color: var(--yellow-feathers) ;
}
.navbar{
    height: 20vh;
    background-color: var(--berry);
    color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar h1 {

    font-size: 6rem;
}
.todayDateSection{

    height: 10vh;
    background-color: var(--branch);
    color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}