*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    list-style-type: none;
    
}
:root{

  --midnight-blue:#1e1f26;
  --indigo-ink:#283655;
  --blueberry:#4d648d;
  --sama2ee:#d0e1f9;
}
body{

    background-color: var(--sama2ee) ;
}
.navbar{
    height: 20vh;
    background-color: var(--midnight-blue);
    color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar h1 {

    font-size: 6rem;
}
.todayDateSection{

    height: 10vh;
    background-color: var(--blueberry);
    color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    
}
.form{
    width: 90%;
}
  .form input[type=text]{
    width: 100%;
    height: 5rem;
    border-radius: 20px;
    padding: 10px;
    margin: 0rem 1rem 1rem 0rem;
    border: none ;
    font-size: 1.5rem;
    outline-style: none;
    background-color: var(--lavendar-gray);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Mukta', sans-serif;
   
}
.form input[type=text]:focus{
    background-color: var(--indigo-ink);
    color: white;
}
.form input[type=date]{
    width: 100%;
    height: 5rem;
    border-radius: 20px;
    padding: 10px;
    margin: 0rem 1rem 1rem 0rem;
    border: none ;
    font-size: 1rem;
    outline-style: none;
}
#checkbox{

    border-radius: 50%;
    margin-right: 1rem;
}
#priorities{
    width: 100%;
    font-size: 2rem;
    background-color: var(--lavendar-gray);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Mukta', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    outline-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0rem 1rem 1rem 0rem;
    color: gray;

}
.form input[type="submit"]{

    width: 100%;
    font-size: 2rem;
    color: white;
    background:var(--blueberry);
    height: 5rem;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    outline-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    cursor: pointer;
    font-family: 'Mukta', sans-serif;
}
.ulSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#list{
    width: 80%;
  
}

 @keyframes swing-in-top-fwd{
     0%{transform:rotateX(-100deg);transform-origin:top;opacity:0}
     100%{transform:rotateX(0deg);transform-origin:top;opacity:1}}

.listItem{
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    min-height: 5rem;
    background-color: var(--indigo-ink);
    border-radius: 5rem;
    color: white;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Mukta', sans-serif;
    transition-property: background;
    transition-duration: .1s;
    transition-timing-function: linear;
    transition-delay: 0s;
    animation:swing-in-top-fwd 1s cubic-bezier(.175,.885,.32,1.275) both;
}

.titleDate{

    display: flex;
    flex-direction: column;
}
.collectedSpan{

    display: flex;
    flex-direction: row;
    align-items: center;
}
.taskDeadline{
    font-size: 1rem;
}
.listItem span{
    font-family: 'Mukta', sans-serif;
}
.listItem:hover{
    background-color: var(--blueberry);
}
#deadline{
    font-family: 'Mukta', sans-serif;
}
.trashcan{
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    cursor: pointer;
}
.trashcan:hover{
transform: scale(1.3);
}
@media screen and (max-width:550px){

 
    .form{
        width: 90%;
    }
    #list{
        width:90%;}

        .listItem{
            padding: 0.5rem 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0.5rem;
            min-height: 3rem;
            background-color: var(--indigo-ink);
            border-radius: 5rem;
            color: white;
            font-size: 0.8rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .taskDeadline{
            font-size: 0.6rem;
        }
}
