*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    
}
:root{

   --lavendar-gray: #9a9eab;
   --branch:#5d535e;
   --berry:#ec96a4;
   --yellow-feathers:#dfe166; 
}
body{

    background-color: var(--yellow-feathers) ;
}
.navbar{
    height: 20vh;
    background-color: var(--berry);
    color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar h1 {

    font-size: 6rem;
}
.todayDateSection{

    height: 10vh;
    background-color: var(--branch);
    color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    
}
.form{
    width: 70%;
}
  .form input[type=text]{
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    padding: 10px;
    margin: 0rem 1rem 1rem 0rem;
    border: none ;
    font-size: 1rem;
   
}
.form input[type=date]{
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    padding: 10px;
    margin: 0rem 1rem 1rem 0rem;
    border: none ;
    font-size: 1rem;
}
.form input[type="submit"]{

    width: 100%;
    font-size: 20px;
    color: white;
    background:var(--berry);
    
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}