* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
   padding: 0;
    background-color: #F4F7E4;
    width: 500px;
}
.img-contect{
    background-image: url('./img/person-writing-a-to-do-list-4238511.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:400px;
    width:500px;
}
h1,h2{
    color:#D47900 ;
    text-align: center;
}
h2{
    color:#F4F7E4 ;
    text-align: start;
    margin:10px;
}
#todoform,button{
margin: 15px;
}
.input{
max-width: 300px;

}
#todolist{
    margin: 25px;
    }
