* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 60px;
    background-color: #162447;
    color: white;
    margin-bottom: 3rem;
}

.form-control {
    margin: .5rem 0;
}

@media only screen and (min-width : 768px){
    #date {
        margin-left: 1rem;
    }
}


.horizontal-line {
    height: 2px;
    width: 70%;
    margin: 3rem auto;
    background-color: #dddddd;
}

.todo-items {
    list-style: none;
}
#msg {
    color: red;
}
.todo-item {
    /* height: 3rem; */
    width: 100%;
    border-radius: 5px;
    height: auto;
    background-color: #ec94a3;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}