* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 60px;
    background-color: #2b4996;
    color: white;
    margin-bottom: 3rem;
}

.text-input {
    margin-right: 3rem;
}

.horizontal-line {
    height: 1px;
    width: 85%;
    margin: 3rem auto;
    background-color: #dddddd;
}