* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.big-banner {
  background-image: url(./bg.jpg);
}
h1,
.pageStyle,
label {
  font: 2rem "Pacifico", Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
}
body {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 5px 5px 15px;
}
header,
section {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-banner2 {
  background-image: url(./form2.jpg);
  background-position: center;
  background-size: 100vw 100vh;
  background-repeat: repeat-y;
}
#date {
  font-size: 2rem;
  font-weight: 500;
}
li.selected {
  text-decoration: line-through;
}
.priority1 {
  font: 1.5rem "Pacifico", Helvetica, sans-serif;
  color: red;
  background-color: #f5b7b1;
}
.priority2 {
  font: 1.5rem "Pacifico", Helvetica, sans-serif;
  color: blue;
  background-color: #aed6f1;
}
.priority3 {
  font: 1.5rem "Pacifico", Helvetica, sans-serif;
  color: orange;
  background-color: #f9e79f;
}
.displayLi {
  display: inline-block;
}
/*.unchecked {
  visibility: hidden;
}
.checked {
  visibility: visible;
}
.dropdown-menu > li:hover {
  background-color: lightskyblue;
}*/
